{% extends 'base.html' %}

{% block content %}
<div id="d3_container">
</div>
<div class="mdl-layout__content mdl-grid dashboard-container" id="event-container">

    <div class="modal-draggable obscura-card obscura-card-wide mdl-card mdl-shadow--2dp" id="wizard">
        <div class="header mdl-card__title">
            <h2 class="mdl-card__title-text">Who are you?</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Hello, adventurer! Let's begin your journey.
        </div>
        <form class="mdl-card__content" id="wizard-form" action="#">

            <!-- Your Name -->
            <div id="fact-sheet">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="name" name="name">
                    <label class="mdl-textfield__label" for="name">Character Name</label>
                    <button class="mdl-button mdl-js-button mdl-button--icon generateIcon" id="generateName"><i
                            class="material-icons">autorenew</i></button>
                </div>
                <!-- Your Age -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="number" id="age" name="age">
                    <label class="mdl-textfield__label" for="age">Character Age</label>
                    <button class="mdl-button mdl-js-button mdl-button--icon generateIcon" id="generateAge"><i
                            class="material-icons">autorenew</i></button>
                </div>

                <!-- Current Occupation -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="occupation" name="occupation">
                    <label class="mdl-textfield__label" for="occupation">Character Occupation</label>
                    <button class="mdl-button mdl-js-button mdl-button--icon generateIcon" id="generateOccupation"><i
                            class="material-icons">autorenew</i></button>
                </div>
            </div>

            <div id="game-sheet" class="story-sheet-container">
                <div id="worldview_input"
                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
                    <input type="text" value="" class="mdl-textfield__input" id="worldview" readonly>
                    <input type="hidden" value="" class="stat_selector" id="worldview_h" name="worldview">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="worldview" class="mdl-textfield__label">Via Vitae</label>
                    <ul for="worldview" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        {% for worldview in worldviews %}
                        <li id="wv-{{ loop.index }}" class="mdl-menu__item" data-val="{{ worldview }}">{{ worldview
                            }}</li>
                        {% endfor %}
                    </ul>
                    {% for worldview, details in worldviews.items() %}
                    <div class="mdl-tooltip" id="tooltip" data-mdl-for="wv-{{ loop.index }}">
                        {{ details['description'] }}
                    </div>
                    {% endfor %}
                </div>

                <div id="personality_input"
                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
                    <input type="text" value="" class="mdl-textfield__input" id="personality" readonly>
                    <input type="hidden" value="" class="stat_selector" id="personality_h" name="personality">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="personality" class="mdl-textfield__label">Personality</label>
                    <ul for="personality" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        {% for personality in personalities %}
                        <li id="ps-{{ loop.index }}" class="mdl-menu__item" data-val="{{ personality }}">{{
                            personality }}</li>
                        {% endfor %}
                    </ul>
                    {% for personality, details in personalities.items() %}
                    <div class="mdl-tooltip" id="tooltip" data-mdl-for="ps-{{ loop.index }}">
                        {{ details['description'] }}
                    </div>
                    {% endfor %}
                </div>

                <div id="class_input"
                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
                    <input type="text" value="" class="mdl-textfield__input" id="socialclass" readonly>
                    <input type="hidden" value="" class="stat_selector" id="socialclass_h" name="socialclass">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="socialclass" class="mdl-textfield__label">Social Class</label>
                    <ul for="socialclass" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        {% for socialclass in socialclasses %}
                        <li id="socialclass-{{ loop.index }}" class="mdl-menu__item" data-val="{{ socialclass }}">{{ socialclass }}</li>
                        {% endfor %}
                    </ul>
                    {% for socialclass, details in socialclasses.items() %}
                    <div class="mdl-tooltip" id="tooltip" data-mdl-for="socialclass-{{ loop.index }}">
                        {{ details['description'] }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="stat_container">
                <div id="stat_force" class="stat">
                    <i class="material-icons material-symbols-outlined md-36">swords</i>
                    <span class="stat_descriptor"></span>
                    <div class="mdl-tooltip" data-mdl-for="stat_force">
                        <b>Force:</b> Represents power, leadership, and authority. High force indicates a
                        character's ability to wield control or exert power, possibly in governing or organizational
                        structures.
                    </div>
                </div>
        
                <div id="stat_diplomacy" class="stat">
                    <i class="material-icons md-36">public</i>
                    <span class="stat_descriptor"></span>
                    <div class="mdl-tooltip" data-mdl-for="stat_diplomacy">
                        <b>Diplomacy:</b> Relates to a character's ability to inspire or manipulate others and make significant
                        cultural impact. Be it for a humanist cause or... for personal fame and gain.
                    </div>
                </div>
                <div id="stat_insight" class="stat">
                    <i class="material-icons md-36">visibility</i>
                    <span class="stat_descriptor"></span>
                    <div class="mdl-tooltip" data-mdl-for="stat_insight">
                        <b>Insight:</b> Represents a character's mental and emotional wisdom. High insight reflects
                        a deep understanding of oneself and the world, a connection with various aspects of life.
                    </div>
                </div>
                <div class="vert_seperator"></div>
                <div id="stat_wealth" class="stat">
                    <i class="material-icons md-36">savings</i>
                    <span class="stat_descriptor"></span>
                    <div class="mdl-tooltip" data-mdl-for="stat_wealth">
                        Wealth
                    </div>
                </div>
                <div id="stat_debt" class="stat">
                    <i class="material-icons md-36">running_with_errors</i>
                    <span class="stat_descriptor"></span>
                    <div class="mdl-tooltip" data-mdl-for="stat_debt">
                        Debt
                    </div>
                </div>
        
        </div>

        <a id="advanced_toggle" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Advanced mode
        </a>

            <div id="create-sheet" class="story-sheet-container">
                <!-- Relationships -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--textarea">
                    <textarea class="mdl-textfield__input textarea-wizard" type="text" rows="3" id="storyInput"
                        name="storyInput"></textarea>
                    <label class="mdl-textfield__label " for="storyInput">Your Backstory</label>
                    <button class="mdl-button mdl-js-button mdl-button--icon generateIcon" id="generateBackstory"><i
                            class="material-icons">autorenew</i></button>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--textarea">
                    <textarea class="mdl-textfield__input textarea-wizard" type="text" rows="3" name="relationsInput"
                        id="relationsInput"></textarea>
                    <label class="mdl-textfield__label" for="relationsInput">Your Relationships</label>
                    <button class="mdl-button mdl-js-button mdl-button--icon generateIcon" id="generateRelations"><i
                            class="material-icons">autorenew</i></button>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--textarea">
                    <textarea class="mdl-textfield__input textarea-wizard" type="text" rows="3" name="lifestyleInput"
                        id="lifestyleInput"></textarea>
                    <label class="mdl-textfield__label" for="lifestyleInput">Your Lifestyle</label>
                    <button class="mdl-button mdl-js-button mdl-button--icon generateIcon" id="generateLifestyle"><i
                            class="material-icons">autorenew</i></button>
                </div>
            </div>


            <div id="select-sheet" class="story-sheet-container">

                <div class="add_container">
                    <!-- Your Places -->
                    <div class="mdl-textfield chip-list mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="newPlace">
                        <label class="mdl-textfield__label" for="newPlace">Significant Places</label>
                        <button class="mdl-button mdl-js-button mdl-button--icon generateIcon" id="generatePlaces"><i
                                class="material-icons">autorenew</i></button>
                        <button class="mdl-button mdl-js-button mdl-button--icon" id="addPlace"><i
                                class="material-icons">add</i></button>
                    </div>
                    <div id="placesList"></div>
                </div>

                <div class="add_container">
                    <!-- Your People -->
                    <div class="mdl-textfield chip-list mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="newPerson">
                        <label class="mdl-textfield__label" for="newPerson">Significant People</label>
                        <button class="mdl-button mdl-js-button mdl-button--icon generateIcon" id="generatePeople"><i
                                class="material-icons">autorenew</i></button>
                        <button class="mdl-button mdl-js-button mdl-button--icon" id="addPerson"><i
                                class="material-icons">add</i></button>
                    </div>
                    <div id="peopleList"></div>

                </div>
                <!-- Your objects -->
                <div class="add_container">
                    <div class="mdl-textfield chip-list mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="newObject">
                        <label class="mdl-textfield__label" for="newObject">Significant Objects</label>
                        <button class="mdl-button mdl-js-button mdl-button--icon generateIcon" id="generateObjects"><i
                                class="material-icons">autorenew</i></button>
                        <button class="mdl-button mdl-js-button mdl-button--icon" id="addObject"><i
                                class="material-icons">add</i></button>
                    </div>
                    <div id="objectsList"></div>
                </div>
            </div>
            

    </form>
    <div class="mdl-card__actions mdl-card--border">
        <a id="load-game" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Generate Story
        </a>
    </div>
    <div class="mdl-card__menu">
        <button id="share" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
            <div class="mdl-tooltip" data-mdl-for="share">
                share
            </div>
        </button>
        <button id="save" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">save</i>
            <div class="mdl-tooltip" data-mdl-for="save">
                save
            </div>
        </button>
    </div>
</div>
{% endblock %}