<!DOCTYPE html>
<html>
<head>
    <title>Debug Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='path_to_your_css.css') }}">
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for item in game_attributes %}
                <tr>
                    <td>{{ item.attribute }}</td>
                    <td>{{ item.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>