{% extends 'base.html' %}

{% block content %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Ordo Obscura</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="#home">Home</a>
                <a class="mdl-navigation__link" href="#events">Events</a>
                <a class="mdl-navigation__link" href="#overview">Overview</a>
                <a class="mdl-navigation__link" href="#ledger">Ledger</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__content mdl-grid dashboard-container">


        <div class="modal-draggable wizard-card-wide mdl-card mdl-shadow--2dp" id="wizard">
            <div class="header mdl-card__title">
                <h2 class="mdl-card__title-text">Who are you?</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Hello, adventurer! Let's begin your journey.
            </div>
            <form class="mdl-card__content" id="storyForm" action="#">

                <!-- Your Name -->
                <div id="fact-sheet">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="name">
                        <label class="mdl-textfield__label" for="name">Character Name</label>
                        <button class="mdl-button mdl-js-button mdl-button--icon generateIcon" id="generateName"><i
                                class="material-icons">autorenew</i></button>
                    </div>
                    <!-- Your Age -->
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="number" id="age">
                        <label class="mdl-textfield__label" for="age">Character Age</label>
                        <button class="mdl-button mdl-js-button mdl-button--icon generateIcon" id="generateAge"><i
                                class="material-icons">autorenew</i></button>
                    </div>

                    <!-- Current Occupation -->
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="occupation">
                        <label class="mdl-textfield__label" for="occupation">Character Occupation</label>
                        <button class="mdl-button mdl-js-button mdl-button--icon generateIcon"
                            id="generateOccupation"><i class="material-icons">autorenew</i></button>
                    </div>
                </div>

                <div id="story-sheet">
                    <!-- Your Backstory -->
                    <div id="storyContainer" class="story-sheet-container">
                        <div
                            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--textarea">
                            <textarea class="mdl-textfield__input textarea-wizard" type="text" rows="3"
                                id="storyInput"></textarea>
                            <label class="mdl-textfield__label " for="storyInput">Tell Your Backstory &
                                Aspiration</label>
                            <button class="mdl-button mdl-js-button mdl-button--icon generateIcon"
                                id="generateBackstory"><i class="material-icons">autorenew</i></button>
                        </div>
                        <div class="mdl-textfield chip-list mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="newPerk">
                            <label class="mdl-textfield__label" for="newPerk">Goals, Perks & Traits</label>
                            <button class="mdl-button mdl-js-button mdl-button--icon generateIcon" id="generatePerks"><i
                                    class="material-icons">autorenew</i></button>
                            <button class="mdl-button mdl-js-button mdl-button--icon" id="addPerk"><i
                                    class="material-icons">add</i></button>
                        </div>
                        <div id="perksList"></div>

                    </div>

                    <!-- Possessions, Cash & Assets -->
                    <div id="perksContainer" class="story-sheet-container">
                        <div
                            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-textfield--textarea">
                            <textarea class="mdl-textfield__input textarea-wizard" type="text" rows="3"
                                id="relationsInput"></textarea>
                            <label class="mdl-textfield__label" for="relationsInput">Significant Relationships &
                                Locations</label>
                            <button class="mdl-button mdl-js-button mdl-button--icon generateIcon"
                                id="generateRelations"><i class="material-icons">autorenew</i></button>
                        </div>

                        <div class="mdl-textfield chip-list mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="newAsset">
                            <label class="mdl-textfield__label" for="newAsset">Assets, Debts & Possessions</label>
                            <button class="mdl-button mdl-js-button mdl-button--icon generateIcon"
                                id="generateAssets"><i class="material-icons">autorenew</i></button>
                            <button class="mdl-button mdl-js-button mdl-button--icon" id="addAsset"><i
                                    class="material-icons">add</i></button>
                        </div>
                        <div id="assetsList"></div>
                    </div>
                </div>
            </form>
            <div class="mdl-card__actions mdl-card--border">
                <a id="input_toState" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Initialize your journey
                </a>
                <a id="json_toStory" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Generate Story
                </a>
            </div>
            <div class="mdl-card__menu">
                <button id="share" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                    <div class="mdl-tooltip" data-mdl-for="share">
                        share
                    </div>
                </button>
                <button id="save" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">save</i>
                    <div class="mdl-tooltip" data-mdl-for="save">
                        save
                    </div>
                </button>
            </div>
        </div>
        <div id="next">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                <i class="material-icons">arrow_forward</i>
            </button>
        </div>
        <button id="debugFAB" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            <i class="material-icons">bug_report</i>
        </button>
        <div class="mdl-tooltip" data-mdl-for="debugFAB">
            Debug
        </div>
    </div>
</div>


<!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="storyInput">
                          <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                          <input class="mdl-textfield__input" type="text" rows="3" id="storyInput">
                          <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                        </div>
                      </div> -->

<!-- Debug Modal -->
<div id="debugModal" class="mdl-dialog">
    <h4 class="mdl-dialog__title">Debug Game State</h4>
    <div class="mdl-dialog__content" id="debugContent">
        <!-- Game state data will be populated here -->
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" id="closeDebugModal" class="mdl-button">Close</button>
    </div>
</div>
<div id="modal-container" class="mdl-dialog">
    <h4 class="mdl-dialog__title">Select your mission</h4>
    <div id="story_output_container" class="mdl-dialog__content">
        <!-- Content will go here -->
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" id="dialog_close" class="mdl-button close">Close</button>
    </div>
</div>
{% endblock %}