<div class="modal-draggable obscura-card obscura-card-wide mdl-card mdl-shadow--2dp" id="mission-picker">
    <div class="header mdl-card__title">
        <h2 class="mdl-card__title-text">Select your path</h2>
    </div>
    <div class="mdl-card__supporting-text">
        You must pick a mission that {{name}} will attempt to achieve.
    </div>
    <div class="mdl-card__content">

      {% for mission in missions %}
        <div class="story" id="story-{{ loop.index }}">
            <h4>{{ mission.title }}</h4>
            <p>{{ mission.narrative }}</p>
        </div>
        {% endfor %}

    </div>
    <div class="mdl-card__actions actions-disabled mdl-card--border">
        <a id="start-story" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Let's go!
        </a>
        <!-- Simple Tooltip -->
        {% for mission in missions %}
        <div class="mdl-tooltip hidden" id="tooltip-{{ loop.index }}" data-mdl-for="start-story">
            <b>Closure Conditions: </b>{{ mission.closure_conditions }}
         </div>
         {% endfor %}

    </div>
    <div class="mdl-card__menu">
        <button id="share" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
            <div class="mdl-tooltip" data-mdl-for="share">
                share
            </div>
        </button>
    </div>
</div>