{
    "type": "object",
    "description": "player actions for the active event.",
    "properties": {
{% for key in keys_array %}
        "{{ key }}": {
            "type": "object",
            "properties": {
                "action": {"type": "string"},
                "success_effect": {"type": "string"},
                "failure_effect": {"type": "string"}
            }
        }{% if not loop.last %},{% endif %}
{% endfor %}
    }
}