{
  "type": "object",
  "properties": {
    "{{ items['name'] }}": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "significance": {
          "type": "string"
        }
        {% if items['type'] == "people" %}
        ,"disposition_towards_player": {
          "type": "string"
        }
        {% endif %}
        {% if items['type'] != "people" %}
        ,"owner": {
          "type": "string"
        }
        {% endif %}
        {% if items['type'] != "places" %}
        ,"location": {
          "type": "string"
        }
        {% endif %}
      }
    }
  }
}