{
    "type": "object",
    "properties": {
        "prop1_title": {"type": "string"},
        "prop2_location": {"type": "string"},
        "prop3_trigger_time_of_day": {
            "type": "string",
            "enum": ["morning", "afternoon", "evening", "night"]
        },
        "prop4_trigger_date": {
            "type": "string",
            "enum": ["now", "today", "tomorrow", "this_week"]
        },
        "prop5_event_body": {
            "type": "string",
            "description": "keep the player event succinct."
        },
        {% for key in items %}
        "{{ key }}": {
            "type": "object",
            "properties": {
                "prop1_player_option": {"type": "string", "description": "write in the second perspective ('you') and write in the active form"},
                "prop2_challenges": {
                    "description": "List the checks the player is required to pass in order to determine success or failure for this action",
                    "type": "array",
                    "items": {
                        "type": "string",
                        "enum": ["payment", "insight", "force", "diplomacy"]
                    },
                    "minItems": 1,
                    "maxItems": 3,
                    "uniqueItems": true
                },
                "prop3_success_effects": {
                    "type": "object",
                    "properties": {
                        "prop1_event_body": {
                            "type": "string",
                            "description": "Write a subsequent event_body / narrative about what happens next, assuming they succeeded (write in second perspective, avoid gameplay jargon)"
                        },
                        "prop2_gameplay": {
                            "description": "List the gameplay effects for the player if the player proves to be successful. Ensure that the gameplay changes strictly align with the narrative change.",
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": ["item_gained", "direct_wealth_increase", "notoriety_increase", "standing_change", "character_change"]
                            },
                            "minItems": 0,
                            "maxItems": 3,
                            "uniqueItems": true
                            }
                        },
                    "required": ["prop1_event_body", "prop2_gameplay"]
                },
                "prop4_failure_effects": {
                    "type": "object",
                    "properties": {
                        "prop1_event_body": {
                            "type": "string",
                            "description": "Write a subsequent event_body / event narrative about what happens next, assuming they failed (write in second perspective, avoid gameplay jargon)"
                        },
                        "prop2_gameplay": {
                            "description": "List the gameplay effects for the player if the player fails. Ensure that the gameplay changes strictly align with the narrative change.",
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": ["item_lost", "direct_wealth_decrease", "notoriety_increase", "standing_change", "character_change"]
                            },
                            "minItems": 0,
                            "maxItems": 3,
                            "uniqueItems": true
                            }
                        },
                    "required": ["prop1_event_body", "prop2_gameplay"]
                },
                "prop5_internal_dialogue": {
                    "type": "string",
                    "description": "write a line of internal dialogue where the player ponders the consequences of the action in accordance with the communication style and character of the player"
                }
            },
            "required": ["prop1_player_option", "prop2_challenges", "prop3_success_effects", "prop4_failure_effects", "prop5_internal_dialogue"]
        }
        {% if not loop.last %},{% endif %}
        {% endfor %}
    },
    "required": [
        "prop1_title",
        "prop2_location",
        "prop3_trigger_time_of_day",
        "prop4_trigger_date",
        "prop5_event_body",
        {% for key in items %}
        "{{ key }}" {% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}
