{
    "type": "object",
    "properties": {
        "missions": {
            "type": "object",
            "description": "The missions you (=the player) are facing (always write in the second perspective)",
            "properties": {
                "mission_1": {
                    "type": "object",
                    "properties": {
                        "title": {"type": "string"},
                        "narrative": {"type": "string"},
                        "closure_conditions": {"type": "string"}
                    }
                },
                "mission_2": {
                    "type": "object",
                    "properties": {
                        "title": {"type": "string"},
                        "narrative": {"type": "string"},
                        "closure_conditions": {"type": "string"}
                    }
                },
                "mission_3": {
                    "type": "object",
                    "properties": {
                        "title": {"type": "string"},
                        "narrative": {"type": "string"},
                        "closure_conditions": {"type": "string"}
                    }
                }
            }
        }
    }
}